




body{
  background: url(../img/accueil.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  transition: color 300ms, background-color 300ms;
}

a.navbar-brand{
    color:white !important;
}

h2{
    font-family: 'Montserrat';
    font-size:140px;
    font-weight: bolder;
    color: black;
    text-align: center;

  }
.formname{
    margin:6%;
}

.connect{
   width:200px !important;
   margin:auto;
}


@media (min-width:480px){
.main-block {
    /* On positionne le bloc */
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 350px;
    padding: 15px 0; 
    border-radius: 5px; 
    border: solid 1px #ccc;
    background: #F3F3F3; 
    text-align: center;
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56); 
    box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56);
    font-family: 'Montserrat';
}

.erreur {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    width:33%;
    height:auto;
    right: 30px;
    border-radius: 7px;
    margin: 20px 20% 20px 33% ;

  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  input{
    width:90%;
    padding:12px;
    border-radius: 5px;
    border : 1px solid #ccc;
    font-size: 12px;


}
  

}

@media (max-width:480px){
    .main-block {
        /* On positionne le bloc */
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
        margin-bottom: 5%;
        width: 240px;
        padding: 15px 0; 
        border-radius: 5px; 
        border: solid 1px #ccc;
        background: #F3F3F3; 
        text-align: center;
        -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56); 
        box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.56);
        font-family: 'Montserrat';
    }
    
    .erreur {
        padding: 20px;
        background-color: #f44336; 
        color: white;
        width:70%;
        height:auto;
        right: 30px;
        border-radius: 7px;
        margin: 20px 21% 20px 15% ;
    
      }
      
      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .closebtn:hover {
        color: black;
      }

      input{
        width:90%;
        padding:7px;
        border-radius: 5px;
        border : 1px solid #ccc;
        font-size: 5px;
    }
}




a.black:hover{
    color:#6A6665;
    text-decoration: none !important;


}

a.black{
    color:black;
}


#message{
    display: block;
    margin-top:10px;
    font-family: 'Montserrat';
}

.avatar{
  width: 30px;
  height: 30px;
}


.navbar-dark{
  background-color: #3d3d3d !important;
}



.sidebar {
  height: 100%; /* Prend toute la hauteur */
  width: 0; /* Largeur = 0 (on change ça avec JS quand on ouvre le menu) */
  position: fixed; /* Pour que la barre reste en place */
  z-index: 1; /*  définit que la barre reste au premier plan, passe par dessus le reste */
  top: 0;
  left: 0; /* La barre est sur le côté gauche de la page */
  background-color: #3d3d3d;
  overflow-x: hidden; /* On désactive la possibilité de scroll horizontalement */
  padding-top: 60px; /* On place le contenu à 60px du haut */
  transition: 0.5s; /* Transition pour dévoiler la barre quand on l'ouvre */
}

/* Couleur des liens de la sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight : 400;
  white-space: nowrap; /* Sinon effet moche de retour à la ligne quand le menu s'ouvre */
}
.sidebar a:hover {
  color: grey;
}

.sidebar button {
  background: none!important;
  display: block;
  border: none;
  color: white;
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight : 400;
  outline: none;
  position: fixed;
  bottom:  2px;
  visibility: hidden;
  transition: opacity 0.7s;
  cursor: pointer;
}

/* Quand on passe la souris sur le bouton, sa couleur change comme les liens  */
.sidebar button:hover {
  color: grey;
  transition: 0.3s;
}

/* Position et apparence du bouton pour fermer la sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.carousel {
    margin-top: 200px;
    background:none;
  }
  
  .carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
  }

  .center{
    margin-top: 140px;
    text-align: center;
    color:white;
  }
  
.center h2{
    font-family: 'Montserrat' !important;
    font-size:40px;
    font-weight: bolder;
    color: white;
    text-align: center;

}

.center p{
  font-family: 'Montserrat';
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 50px;
  margin-right: 50px;
  color:white;
}
.center a{
  font-family: 'Montserrat';
  color:white;
 
}
.center a:hover{
  text-decoration: none;
  color: #1ca4ff;
  transition: 0.3s;
}


.slide1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bikinibot.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slide2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/konoha.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/arenecell.webp);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/merry.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/snk.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



