




body{
    background: url(../img/accueil.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    transition: color 300ms, background-color 300ms;
}

a.navbar-brand{
    color:white !important;
}

h2{
    font-family: 'Montserrat';
    font-size:140px;
    font-weight: bolder;
    color: black;
    text-align: center;

  }
.formname{
    margin:6%;
}

.connect{
   width:200px !important;
   margin:auto;
}

.connect:hover{
  width:200px !important;
  background-color: #1ca4ff !important;
  margin:auto;
}

.main-block {
    /* On positionne le bloc */
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 350px;
    padding: 15px 0; 
    border-radius: 5px; 
    border: solid 1px #ccc;
    background: #042172a6;
    text-align: center;
    font-family: 'Montserrat';
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #1ca4ff;
    color: white;
}


.erreur {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    width:33%;
    height:auto;
    right: 30px;
    border-radius: 7px;
    margin: 20px 20% 20px 33% ;

  }
  .succes {
    padding: 20px;
    background-color: #20fbab; 
    color: white;
    width:33%;
    height:auto;
    right: 30px;
    border-radius: 7px;
    margin: 20px 20% 20px 33% ;

  }
  


  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  input{
    width:90%;
    padding:12px;
    border-radius: 5px;
    border : 1px solid #ccc;
    font-size: 12px;
}

input.date{
  width:40%;
  padding-left:8%;
  border-radius: 5px;
  border : 1px solid #ccc;
  font-size: 12px;
}
  
hr{
  visibility: hidden;
}




a.white:hover{
    color:#1ca4ff;
    text-decoration: none !important;


}

a.white{
    color:white;
}


#message{
    display: block;
    margin-top:10px;
    font-family: 'Montserrat';
}

.avatar{
  width: 30px;
  height: 30px;
}


.navbar-dark{
  background-color: #2D2C2C !important;
}



.sidebar {
  height: 100%; /* Prend toute la hauteur */
  width: 0; /* Largeur = 0 (on change ça avec JS quand on ouvre le menu) */
  position: fixed; /* Pour que la barre reste en place */
  z-index: 1; /* On définir que la barre reste au premier plan, passe par dessus le reste */
  top: 0;
  left: 0; /* La barre est sur le côté gauche de la page */
  background-color: #2D2C2C;
  overflow-x: hidden; /* On désactive la possibilité de scroll horizontalement */
  padding-top: 60px; /* On place le contenu à 60px du haut */
  transition: 0.5s; /* Transition pour dévoiler la barre quand on l'ouvre */
}

/* Couleur des liens de la sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight : 400;
  white-space: nowrap; /* Sinon effet moche de retour à la ligne quand le menu s'ouvre */
}

/* Quand on passe la souris sur les liens de navigation, leur couleur change  */
.sidebar a:hover {
  color: grey;
}

.sidebar button {
  background: none!important;
  display: block;
  border: none;
  color: white;
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight : 400;
  outline: none;
  position: fixed;
  bottom:  2px;
  visibility: hidden;
  transition: opacity 0.7s;
  cursor: pointer;
}

/* Quand on passe la souris sur le bouton, sa couleur change comme les liens  */
.sidebar button:hover {
  color: grey;
  transition: 0.3s;
}

/* Position et apparence du bouton pour fermer la sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.lieu{
  width:66%;
}

/* Le contenu de la page se pousse avec une transition quand on ouvre la sidebar */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 600px) {
  .sidebar {padding-top: 15px;}
  .sidebar a, .sidebar button {font-size: 18px;}
}

.add{
  background: none!important;
  display: block;
  border: none;
  color: white;
  text-align: center;
  margin-left:22%;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  transition: opacity 0.7s;
  cursor: pointer;
}
.add:hover{
  color: #4ab7ff;
  transition: 0.3s;
}