@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Noto+Sans+JP:wght@100&display=swap');


html{
    font-family: 'Gentium Plus', serif;
}

a.navbar-brand{
    color:white !important;
}

h1.compte{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}